.env

*.dht_cache
*.htpasswd
*.input_history
*.libtorrent_resume
*.log
*.rtorrent
*.torrent
*.rtorrent
*.libtorrent_resume.new
*.input_history
*.dht_cache
*.input_history
rtorrent.lock

clients/rtorrent/data/geoip/
clients/rtorrent/data/rutorrent/
clients/rtorrent/downloads/complete/
clients/rtorrent/downloads/temp/
clients/rtorrent/downloads/rtorrent/*.pdf

__pycache__/
.DS_Store
Thumbs.db
