.env

*.dht_cache
*.htpasswd
*.input_history
*.libtorrent_resume
*.log
*.rtorrent
*.torrent
*.rtorrent
*.libtorrent_resume.new
*.input_history
*.dht_cache
*.input_history
rtorrent.lock

clients/aria2/config/*.conf
clients/aria2/config/*.session
clients/aria2/config/*.dat
clients/aria2/config/LICENSE
clients/aria2/downloads/*.aria2
clients/aria2/downloads/*.pdf
clients/aria2/config/script/*.sh
clients/aria2/config/script/core

clients/deluge/config/auth
clients/deluge/config/*.conf
clients/deluge/config/*.pid
clients/deluge/config/*.state
clients/deluge/config/*.bak
clients/deluge/config/ssl/*.cert
clients/deluge/config/ssl/*.pkey
clients/deluge/config/state/*.safe_state_check
clients/deluge/config/state/*.fastresume
clients/deluge/config/state/*.bak
clients/deluge/config/state/*.state
clients/deluge/downloads/*.pdf

clients/qbittorrent/config/qBittorrent/*.json
clients/qbittorrent/config/qBittorrent/*.conf
clients/qbittorrent/config/qBittorrent/BT_backup/*.fastresume
clients/qbittorrent/config/qBittorrent/BT_backup/queue
clients/qbittorrent/config/qBittorrent/GeoDB/*.mmdb
clients/qbittorrent/config/qBittorrent/rss/*.json
clients/qbittorrent/downloads/*.pdf

clients/rtorrent/data/geoip/
clients/rtorrent/data/rutorrent/
clients/rtorrent/downloads/complete/
clients/rtorrent/downloads/temp/
clients/rtorrent/downloads/rtorrent/*.pdf
clients/rtorrent/downloads/rtorrent/*.meta

clients/transmission/config/*.json
clients/transmission/config/*.dat
clients/transmission/config/resume/*.resume
clients/transmission/downloads/complete/*.pdf
clients/transmission/downloads/incomplete/*.pdf

__pycache__/
.DS_Store
Thumbs.db
